
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  
  .container{
    width: 100%;
  height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;

  }


  .product{
display: flex;
height: 90vh;
width: 90%;
    -webkit-box-shadow: 0px 7px 30px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 30px 0px rgba(0,0,0,0.75);
box-shadow: 0px 7px 30px 0px rgba(0,0,0,0.75);
background-color: rgb(202, 231, 240);
flex-wrap: wrap;
justify-content: space-evenly;


  }

  .left-product{
    
    padding:5% ;

width: 30%;

  }

  .samsung-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .samsung-img img{
 
   
  
object-fit: contain;
border-top-left-radius: 1.25rem;

 border-bottom-right-radius: 1.25rem;

  }

  .right-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  H4{
    font-size: 1.5rem;
  }